Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv.

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.

Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [43]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_grouped_by_ID = ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']}).reset_index()

ratings_100_and_more = ratings_grouped_by_ID['timestamp'][ratings_grouped_by_ID['timestamp']['count'] > 100]

#длительность жизни пользователя в днях. В одном дне 86400 секунд
ratings_100_and_more['lifetime'] = (ratings_100_and_more['max'] - ratings_100_and_more['min'])/86400

ratings_100_and_more.head()

           min         max  count     lifetime
3    949778714   949982274    204     2.356019
7   1154389340  1154474527    116     0.985961
14   997937239  1469330735   1700  5455.943241
16  1127468587  1127476640    363     0.093206
18   855190091   855195373    423     0.061134