Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv.

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.

Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings.head()

In [17]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [55]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_grouped_by_ID = ratings.groupby('userId').count()['rating'].reset_index()

ratings_100_and_more = ratings_grouped_by_ID[ratings_grouped_by_ID['rating'] > 99]

ratings_100_and_more.head()


# https://netology.ru/profile/program/pyda-15/lessons/52131/lesson_items/244620
#joined_ratings_100_and_more = ratings_100_and_more.join(ratings, how='left')

#joined_ratings_100_and_more.head()
#def user_lifetime(df):
    #return df['timestamp'].max() - df['timestamp'].min()


#result = ratings_100_and_more.apply(user_lifetime)

#result = ratings.groupby('userId').apply(user_lifetime, axis = 1).reset_index()

    userId  rating
3        4     204
4        5     100
7        8     116
14      15    1700
16      17     363

In [52]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_grouped_by_ID = ratings.groupby('userId').count()['rating']

ratings_grouped_by_ID.head()

ratings_100_and_more = ratings_grouped_by_ID > 99

result = ratings_100_and_more.reset_index()

result.head()

   userId  rating
0       1   False
1       2   False
2       3   False
3       4    True
4       5    True