Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 

Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [45]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_grouped_by_ID = ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']}).reset_index()

ratings_100_and_more = ratings_grouped_by_ID['timestamp'][ratings_grouped_by_ID['timestamp']['count'] > 100]

#длительность жизни пользователя в днях. В одном дне 86400 секунд
ratings_100_and_more['lifetime'] = (ratings_100_and_more['max'] - ratings_100_and_more['min'])/86400

ratings_100_and_more.head()

           min         max  count     lifetime
3    949778714   949982274    204     2.356019
7   1154389340  1154474527    116     0.985961
14   997937239  1469330735   1700  5455.943241
16  1127468587  1127476640    363     0.093206
18   855190091   855195373    423     0.061134

Задание 2

Дана статистика услуг перевозок клиентов компании по типам:

- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

Необходимо сформировать две таблицы:
    
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [36]:
import pandas as pd

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)


auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)


air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)


client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
#Таблица по первой половине решения задачи:
splited_table = rzd.merge(auto, how = 'outer', on = 'client_id').merge(air, how = 'outer', on = 'client_id').fillna(0)
splited_table

#Таблица по первой половине решения задачи:
final_table = splited_table.merge(client_base, how = 'left', on = 'client_id')
final_table

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4

Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. 

Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. 

Как бы вы добавили эти сведения в таблицу визитов и покупок? 

Для составления ответа можно использовать вопросы:
У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?


Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?


Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

Решение:

Я бы связал данные о местоположении и данные о визитах/покупках через время визита. 

То есть столбец с параметром unixtime сделал бы индексом, по которому объединил бы таблицу визитов/покупок с общей таблицей логов, когда эти данные требовались бы приложению для работы.

Применил бы left join, в котором левой таблицей сделал бы таблицу визитов/покупок, а правой - общую таблицу логов.