Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 

Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [7]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings.head()

# оставить только пользователей с числом оценок больше 100
# наложить агрегированный фильтр на результат (среднее между мин и макс)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). 

Необходимо сформировать две таблицы:
    
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. 

Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. 

Как бы вы добавили эти сведения в таблицу визитов и покупок? 

Для составления ответа можно использовать вопросы:
У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?


Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?


Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

Я бы связал данные о местоположении и данные о визитах/покупках через время визита. 

То есть столбец с параметром unixtime сделал бы индексом, по которому объединил бы таблицу визитов/покупок с общей таблицей логов, когда эти данные требовались бы приложению для работы.

Применил бы left join, в котором левой таблицей сделал бы таблицу визитов/покупок, а правой - общую таблицу логов.